@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Arvo");

body {
    display:block;
	width:990px;
	margin:0 auto;
    background-color: lightslategray;
    font-family: 'Work Sans', 'Arvo', sans-serif;
}

h1, h2 {
    font-family: 'Arvo', 'Work Sans', sans-serif;
}

table {
    border: black solid 0px;
}

#conteudo tr {
    width: 400px;
    height: 200px;
}

#conteudo a:visited {
    color: black;
}

#tags {
    padding: 0 50 0 0;
    vertical-align: top;
}

a {
    text-decoration: none;
}

.title a:visited {
    color: black;
}

.title a:hover {
    color: rgb(75, 83, 91);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    display: block;
    float: left;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.active {
    background-color: rgb(75, 83, 91);
}

.rodape table {
    width: 100%;
    border: black solid 1px;
    background-color: rgb(240, 243, 244);
}

.rodape td {
    border: black solid 1px;
    background-color: #333;
    color: white;
}