@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Arvo");

body {
    display:block;
	width:990px;
	margin:0 auto;
    background-color: lightslategray;
    font-family: 'Work Sans', 'Arvo', sans-serif;
}

h1, h2 {
    font-family: 'Arvo', 'Work Sans', sans-serif;
}

table {
    border: black solid 0px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

a:hover {
    color: rgb(75, 83, 91);
}

#tags {
    padding: 0 50 0 0;
    vertical-align: top;
    float: left;
}

#posts {
    float: left;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    display: block;
    float: left;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.active {
    background-color: rgb(75, 83, 91);
}

.rodape table {
    width: 100%;
    border: black solid 1px;
    background-color: rgb(240, 243, 244);
}

.rodape td {
    border: black solid 1px;
    background-color: #333;
    color: white;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: tags;
}

.item4 {
    grid-area: main;
}

.item5 {
    grid-area: footer;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'menu menu menu menu'
    'tags main main main'
    'footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.r1 {
    grid-area: r1;
}

.r2 {
    grid-area: r2;
}

.r3 {
    grid-area: r3;
}

.r4 {
    grid-area: r4;
}

.grid-container-rodape {
    display: grid;
    grid-template-areas:
      'r1 r2 r3 r4';
    grid-gap: 2px;
    background-color: #ffffff;
    padding: 2px;
  }

  .grid-container-rodape > div {
    background-color: #515151;
    color: white;
    text-align: center;
    padding: 5px 0;
  }